.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/

*.nupkg
packages/

.idea/

*.rsuser
*.csproj.user

wwwroot/
appsettings.Development.json

*.log

*.dotCover

*.mdf
*.ldf

*.generated.cs

secrets.json
